## Limpieza datos - Fresh Market

In [1]:
#Librerias necesarias para nuestro proceso de limpieza.

import pandas as pd
import seaborn as sns

In [2]:
market_data = pd.read_csv(r'C:\Users\Jahir\DataspellProjects\FreshMarket-project\datos\supermarket_sales-co.csv')
data= market_data

### Observacion principal:

In [3]:
data.head(8)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,75.0,7,26.1415,548.9715,1/5/2019,1:08:00 PM,Ewallet 00.%,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.0,5,3.8200,80.2200,3/8/2019,10:29:00 AM,Cash xl3,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.0,7,16.2155,340.5255,3/3/2019,1:23:00 PM,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.0,8,23.2880,489.0480,1/27/2019,8:33:00 PM,Ewallet 00.%,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.0,7,30.2085,634.3785,2/8/2019,10:37:00 AM,Ewallet 00.%,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.0,7,29.8865,627.6165,3/25/2019,6:30:00 PM,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,69.0,6,20.6520,433.6920,2/25/2019,2:36:00 PM,Ewallet 00.%,413.04,4.761905,20.6520,5.8
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,74.0,10,36.7800,772.3800,2/24/2019,11:38:00 AM,Ewallet 00.%,735.60,4.761905,36.7800,8.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1027 entries, 0 to 1026
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1027 non-null   object
 2   City                     1027 non-null   object
 3   Customer type            1027 non-null   object
 4   Gender                   1027 non-null   object
 5   Product line             1027 non-null   object
 6   Unit price               1020 non-null   float64
 7   Quantity                 1027 non-null   int64
 8   Tax 5%                   1027 non-null   float64
 9   Total                    1027 non-null   float64
 10  Date                     1027 non-null   object
 11  Time                     1027 non-null   object
 12  Payment                  1027 non-null   object
 13  cogs                     1027 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 136.5+ KB

## Comentarios iniciales:

El dataset contiene 17 columnas con informacion relacionada a la actividad diaria de fresh market, varios problemas estructuares se evidencia en la primera vista, los formatos deben ser verificads pues existe incosostencia.

* Normalizar nombres de columnas
* Columna con fechas debe ser tratada.
* Datos faltantes en el identificador de productos.

In [5]:
# Normalizacion de nombres en columna.

data.columns = data.columns.str.lower()

In [6]:
data.columns

Index(['invoice id', 'branch', 'city', 'customer type', 'gender',
       'product line', 'unit price', 'quantity', 'tax 5%', 'total', 'date',
       'time', 'payment', 'cogs', 'gross margin percentage', 'gross income',
       'rating'],
      dtype='object')

In [7]:
data.columns =['invoice_id', 'branch', 'city', 'customer_type', 'gender',
       'product_line', 'unit_price', 'quantity', 'tax_5%', 'total', 'date',
       'time', 'payment', 'cogs', 'gross_margin_percentage', 'gross_income',
       'rating']

In [8]:
data.columns

Index(['invoice_id', 'branch', 'city', 'customer_type', 'gender',
       'product_line', 'unit_price', 'quantity', 'tax_5%', 'total', 'date',
       'time', 'payment', 'cogs', 'gross_margin_percentage', 'gross_income',
       'rating'],
      dtype='object')

### Columna #1 Invoice_id

In [9]:
data["invoice_id"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1027 entries, 0 to 1026
Series name: invoice_id
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 8.2+ KB

In [24]:
# Eliminacion de cualquier fila en la columna Invoice_id que contengavalor nulo.
data.dropna(subset='invoice_id', inplace=True)

In [27]:
#Cambio de formatos

data["invoice_id"].astype(str)

0      750-67-8428
1      226-31-3081
2      631-41-3108
3      123-19-1176
4      373-73-7910
          ...
995    233-67-5758
996    303-96-2227
997    727-02-1313
998    347-56-2442
999    849-09-3807
Name: invoice_id, Length: 1000, dtype: object

In [50]:
# Verificasion la cantidad de caracteres en cada ID para asegurar integridad del mismo.
data[data['invoice_id'].apply(lambda x: len(str(x)) != 11)]

# Resultado 0 lo cual significa que todos mantienen la misma cantidad.

Empty DataFrame
Columns: [invoice_id, branch, city, customer_type, gender, product_line, unit_price, quantity, tax_5%, total, date, time, payment, cogs, gross_margin_percentage, gross_income, rating]
Index: []