## Limpieza datos - Fresh Market

In [89]:
#Librerias necesarias para nuestro proceso de limpieza.

import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
market_data = pd.read_csv(r'C:\Users\Jahir\DataspellProjects\FreshMarket-project\datos\supermarket_sales-co.csv')
data= market_data

### Observacion principal:

In [3]:
data.head(8)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,75.0,7,26.1415,548.9715,1/5/2019,1:08:00 PM,Ewallet 00.%,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.0,5,3.8200,80.2200,3/8/2019,10:29:00 AM,Cash xl3,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.0,7,16.2155,340.5255,3/3/2019,1:23:00 PM,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.0,8,23.2880,489.0480,1/27/2019,8:33:00 PM,Ewallet 00.%,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.0,7,30.2085,634.3785,2/8/2019,10:37:00 AM,Ewallet 00.%,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.0,7,29.8865,627.6165,3/25/2019,6:30:00 PM,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,69.0,6,20.6520,433.6920,2/25/2019,2:36:00 PM,Ewallet 00.%,413.04,4.761905,20.6520,5.8
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,74.0,10,36.7800,772.3800,2/24/2019,11:38:00 AM,Ewallet 00.%,735.60,4.761905,36.7800,8.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1027 entries, 0 to 1026
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1027 non-null   object
 2   City                     1027 non-null   object
 3   Customer type            1027 non-null   object
 4   Gender                   1027 non-null   object
 5   Product line             1027 non-null   object
 6   Unit price               1020 non-null   float64
 7   Quantity                 1027 non-null   int64
 8   Tax 5%                   1027 non-null   float64
 9   Total                    1027 non-null   float64
 10  Date                     1027 non-null   object
 11  Time                     1027 non-null   object
 12  Payment                  1027 non-null   object
 13  cogs                     1027 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 136.5+ KB

## Comentarios iniciales:

El dataset contiene 17 columnas con informacion relacionada a la actividad diaria de fresh market, varios problemas estructuares se evidencia en la primera vista, los formatos deben ser verificads pues existe incosostencia.

* Normalizar nombres de columnas
* Columna con fechas debe ser tratada.
* Datos faltantes en el identificador de productos.

In [5]:
# Normalizacion de nombres en columna.

data.columns = data.columns.str.lower()

In [6]:
data.columns

Index(['invoice id', 'branch', 'city', 'customer type', 'gender',
       'product line', 'unit price', 'quantity', 'tax 5%', 'total', 'date',
       'time', 'payment', 'cogs', 'gross margin percentage', 'gross income',
       'rating'],
      dtype='object')

In [7]:
data.columns =['invoice_id', 'branch', 'city', 'customer_type', 'gender',
       'product_line', 'unit_price', 'quantity', 'tax_5%', 'total', 'date',
       'time', 'payment', 'cogs', 'gross_margin_percentage', 'gross_income',
       'rating']

In [8]:
data.columns

Index(['invoice_id', 'branch', 'city', 'customer_type', 'gender',
       'product_line', 'unit_price', 'quantity', 'tax_5%', 'total', 'date',
       'time', 'payment', 'cogs', 'gross_margin_percentage', 'gross_income',
       'rating'],
      dtype='object')

### Columna #1 Invoice_id

In [9]:
data["invoice_id"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1027 entries, 0 to 1026
Series name: invoice_id
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 8.2+ KB

In [10]:
# Eliminacion de cualquier fila en la columna Invoice_id que contengavalor nulo.
data.dropna(subset='invoice_id', inplace=True)

In [28]:
#Cambio de formatos

data["invoice_id"] = data["invoice_id"].astype('string')

In [12]:
# Verificasion la cantidad de caracteres en cada ID para asegurar integridad del mismo.
data[data['invoice_id'].apply(lambda x: len(str(x)) != 11)]

# Resultado 0 lo cual significa que todos mantienen la misma cantidad.

Empty DataFrame
Columns: [invoice_id, branch, city, customer_type, gender, product_line, unit_price, quantity, tax_5%, total, date, time, payment, cogs, gross_margin_percentage, gross_income, rating]
Index: []

## Columna #2 branch.

In [13]:
data['branch'].info()

<class 'pandas.core.series.Series'>
Index: 1000 entries, 0 to 999
Series name: branch
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 15.6+ KB

In [14]:
data['branch'].value_counts(normalize=True)

# Los datos en la columana son categoricos y mantienen un distribucion adecuada, estan acorde a la ubicasion geografica que representan. Solo es necesario cambiar formato.

branch
A    0.340
B    0.332
C    0.328
Name: proportion, dtype: float64

In [15]:
data['branch']= data['branch'].astype('category')

## Columna #3 city

In [16]:
data['city'].info()

<class 'pandas.core.series.Series'>
Index: 1000 entries, 0 to 999
Series name: city
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 15.6+ KB

In [17]:
data['city'].value_counts()

city
Yangon       340
Mandalay     332
Naypyitaw    327
Kiamica        1
Name: count, dtype: int64

In [18]:
# Fueron encontrado solo un valor atipico en las categorias, ya que deberian ser solo tres ciudades y tenemos cuatro.

data.loc[data['city'] == 'Kiamica']

,invoice_id,branch,city,customer_type,gender,product_line,unit_price,quantity,tax_5%,total,date,time,payment,cogs,gross_margin_percentage,gross_income,rating
446,235-46-8343,C,Kiamica,Member,Male,Food and beverages,28.0,10,13.83,290.43,2/14/2019,11:26:00 AM,Credit card,276.6,4.761905,13.83,8.9

In [19]:
# Como solo es un valor afectado procederomos a borrarlo.

data.drop(axis="rows", index=446, inplace=True)

In [24]:
# Cambiamos formato a str

data['city'] = data['city'].astype('string')

In [29]:
data['city'].info()

<class 'pandas.core.series.Series'>
Index: 999 entries, 0 to 999
Series name: city
Non-Null Count  Dtype
--------------  -----
999 non-null    string
dtypes: string(1)
memory usage: 15.6 KB

## Columna #4 customer_type

In [34]:
data['customer_type'].info()

<class 'pandas.core.series.Series'>
Index: 999 entries, 0 to 999
Series name: customer_type
Non-Null Count  Dtype
--------------  -----
999 non-null    object
dtypes: object(1)
memory usage: 15.6+ KB

In [35]:
data['customer_type'].value_counts()

customer_type
Member    500
Normal    499
Name: count, dtype: int64

In [37]:
data['customer_type'] = data['customer_type'].astype("string")

No fueron encontrados valores atipicos en la evaluacion, solo fue necesario cambiar el formato para mejorar la integridad de los datos adquiridos.

## Columna #4 gender

In [42]:
data['gender'].value_counts()

gender
Female    500
Male      497
M           1
Fema        1
Name: count, dtype: int64

La columna genero contiene errores estructurales simples(Recomendar al equipo desarrollador de fresh market evaluar los formularios de registro y agregar restricciones para asegurar la integridad en el futuro)

In [53]:
data.loc[(data['gender'] == "M") | (data['gender'] == "Fema")]

,invoice_id,branch,city,customer_type,gender,product_line,unit_price,quantity,tax_5%,total,date,time,payment,cogs,gross_margin_percentage,gross_income,rating
11,529-56-3974,B,Mandalay,Member,M,Electronic accessories,26.0,4,5.102,107.142,3/9/2019,5:03:00 PM,Cash xl3,102.04,4.761905,5.102,6.8
52,616-24-2851,B,Mandalay,Member,Fema,Fashion accessories,18.0,4,3.574,75.054,3/22/2019,2:42:00 PM,Ewallet,71.48,4.761905,3.574,6.5

In [60]:
# Reemplazamos los valores por los adecuados y cambiamos formato de coulmanas a categoricos

data.replace({"M": "Male", "Fema":"Female"}, inplace=True)

In [61]:
# Confirmamos que se realizaron los cambios, llamando los datos atipicos.

data.loc[(data['gender'] == "M") | (data['gender'] == "Fema")]

Empty DataFrame
Columns: [invoice_id, branch, city, customer_type, gender, product_line, unit_price, quantity, tax_5%, total, date, time, payment, cogs, gross_margin_percentage, gross_income, rating]
Index: []

In [64]:
data['gender'] = data['gender'].astype("category")

In [66]:
data.dtypes

invoice_id                 string[python]
branch                           category
city                       string[python]
customer_type              string[python]
gender                           category
product_line                       object
unit_price                        float64
quantity                            int64
tax_5%                            float64
total                             float64
date                               object
time                               object
payment                            object
cogs                              float64
gross_margin_percentage           float64
gross_income                      float64
rating                            float64
dtype: object

## Columna #5 product_line, unit_price, quantity

In [84]:
data[['product_line', 'unit_price','quantity']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, 0 to 999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_line  999 non-null    object
 1   unit_price    992 non-null    float64
 2   quantity      999 non-null    int64
dtypes: float64(1), int64(1), object(1)
memory usage: 31.2+ KB

In [87]:
# Identificamos que algunos productos no tienen precio
data[['product_line', 'unit_price','quantity']].loc[data['unit_price'].isnull()]

           product_line  unit_price  quantity
679  Food and beverages         NaN         6
689  Food and beverages         NaN         3
691  Food and beverages         NaN         7
694  Food and beverages         NaN         9
701  Food and beverages         NaN         3
707  Food and beverages         NaN         1
710  Food and beverages         NaN         6

In [103]:
# Imputaremos la media de precios en la categoria Food and beverages para los 7 productos que no lo tienen

data['unit_price'].fillna(round(np.mean(data['product_line'] =="Food and beverages"), 2), inplace=True)

In [104]:
#Confirmamos que no tenemos valores vacios en la columna unit_price
data[['product_line', 'unit_price','quantity']].loc[data['unit_price'].isnull()]

Empty DataFrame
Columns: [product_line, unit_price, quantity]
Index: []