## Limpieza datos - Fresh Market

In [195]:
#Librerias necesarias para nuestro proceso de limpieza.

import pandas as pd
import seaborn as sns
import numpy as np

In [196]:
market_data = pd.read_csv(r'C:\Users\Jahir\DataspellProjects\FreshMarket-project\datos\supermarket_sales-co.csv')
data= market_data

### Observacion principal:

In [197]:
data.head(8)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,75.0,7,26.1415,548.9715,1/5/2019,1:08:00 PM,Ewallet 00.%,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.0,5,3.8200,80.2200,3/8/2019,10:29:00 AM,Cash xl3,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.0,7,16.2155,340.5255,3/3/2019,1:23:00 PM,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.0,8,23.2880,489.0480,1/27/2019,8:33:00 PM,Ewallet 00.%,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.0,7,30.2085,634.3785,2/8/2019,10:37:00 AM,Ewallet 00.%,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.0,7,29.8865,627.6165,3/25/2019,6:30:00 PM,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,69.0,6,20.6520,433.6920,2/25/2019,2:36:00 PM,Ewallet 00.%,413.04,4.761905,20.6520,5.8
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,74.0,10,36.7800,772.3800,2/24/2019,11:38:00 AM,Ewallet 00.%,735.60,4.761905,36.7800,8.0

In [198]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1027 entries, 0 to 1026
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1027 non-null   object
 2   City                     1027 non-null   object
 3   Customer type            1027 non-null   object
 4   Gender                   1027 non-null   object
 5   Product line             1027 non-null   object
 6   Unit price               1020 non-null   float64
 7   Quantity                 1027 non-null   int64
 8   Tax 5%                   1027 non-null   float64
 9   Total                    1027 non-null   float64
 10  Date                     1027 non-null   object
 11  Time                     1027 non-null   object
 12  Payment                  1027 non-null   object
 13  cogs                     1027 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 136.5+ KB

## Comentarios iniciales:

El dataset contiene 17 columnas con informacion relacionada a la actividad diaria de fresh market, varios problemas estructuares se evidencia en la primera vista, los formatos deben ser verificads pues existe incosostencia.

* Normalizar nombres de columnas
* Columna con fechas debe ser tratada.
* Datos faltantes en el identificador de productos.

In [199]:
# Normalizacion de nombres en columna.

data.columns = data.columns.str.lower()

In [200]:
data.columns

Index(['invoice id', 'branch', 'city', 'customer type', 'gender',
       'product line', 'unit price', 'quantity', 'tax 5%', 'total', 'date',
       'time', 'payment', 'cogs', 'gross margin percentage', 'gross income',
       'rating'],
      dtype='object')

In [201]:
data.columns =['invoice_id', 'branch', 'city', 'customer_type', 'gender',
       'product_line', 'unit_price', 'quantity', 'tax_5%', 'total', 'date',
       'time', 'payment', 'cogs', 'gross_margin_percentage', 'gross_income',
       'rating']

In [202]:
data.columns

Index(['invoice_id', 'branch', 'city', 'customer_type', 'gender',
       'product_line', 'unit_price', 'quantity', 'tax_5%', 'total', 'date',
       'time', 'payment', 'cogs', 'gross_margin_percentage', 'gross_income',
       'rating'],
      dtype='object')

### Columna #1 Invoice_id

In [203]:
data["invoice_id"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1027 entries, 0 to 1026
Series name: invoice_id
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 8.2+ KB

In [204]:
# Eliminacion de cualquier fila en la columna Invoice_id que contengavalor nulo.
data.dropna(subset='invoice_id', inplace=True)

In [205]:
#Cambio de formatos

data["invoice_id"] = data["invoice_id"].astype('string')

In [206]:
# Verificasion la cantidad de caracteres en cada ID para asegurar integridad del mismo.
data[data['invoice_id'].apply(lambda x: len(str(x)) != 11)]

# Resultado 0 lo cual significa que todos mantienen la misma cantidad.

Empty DataFrame
Columns: [invoice_id, branch, city, customer_type, gender, product_line, unit_price, quantity, tax_5%, total, date, time, payment, cogs, gross_margin_percentage, gross_income, rating]
Index: []

## Columna #2 branch.

In [207]:
data['branch'].info()

<class 'pandas.core.series.Series'>
Index: 1000 entries, 0 to 999
Series name: branch
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 15.6+ KB

In [208]:
data['branch'].value_counts(normalize=True)

# Los datos en la columana son categoricos y mantienen un distribucion adecuada, estan acorde a la ubicasion geografica que representan. Solo es necesario cambiar formato.

branch
A    0.340
B    0.332
C    0.328
Name: proportion, dtype: float64

In [209]:
data['branch']= data['branch'].astype('category')

## Columna #3 city

In [210]:
data['city'].info()

<class 'pandas.core.series.Series'>
Index: 1000 entries, 0 to 999
Series name: city
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 15.6+ KB

In [211]:
data['city'].value_counts()

city
Yangon       340
Mandalay     332
Naypyitaw    327
Kiamica        1
Name: count, dtype: int64

In [212]:
# Fueron encontrado solo un valor atipico en las categorias, ya que deberian ser solo tres ciudades y tenemos cuatro.

data.loc[data['city'] == 'Kiamica']

,invoice_id,branch,city,customer_type,gender,product_line,unit_price,quantity,tax_5%,total,date,time,payment,cogs,gross_margin_percentage,gross_income,rating
446,235-46-8343,C,Kiamica,Member,Male,Food and beverages,28.0,10,13.83,290.43,2/14/2019,11:26:00 AM,Credit card,276.6,4.761905,13.83,8.9

In [213]:
# Como solo es un valor afectado procederomos a borrarlo.

data.drop(axis="rows", index=446, inplace=True)

In [214]:
# Cambiamos formato a str

data['city'] = data['city'].astype('string')

In [215]:
data['city'].info()

<class 'pandas.core.series.Series'>
Index: 999 entries, 0 to 999
Series name: city
Non-Null Count  Dtype
--------------  -----
999 non-null    string
dtypes: string(1)
memory usage: 15.6 KB

## Columna #4 customer_type

In [216]:
data['customer_type'].info()

<class 'pandas.core.series.Series'>
Index: 999 entries, 0 to 999
Series name: customer_type
Non-Null Count  Dtype
--------------  -----
999 non-null    object
dtypes: object(1)
memory usage: 15.6+ KB

In [217]:
data['customer_type'].value_counts()

customer_type
Member    500
Normal    499
Name: count, dtype: int64

In [218]:
data['customer_type'] = data['customer_type'].astype("string")

No fueron encontrados valores atipicos en la evaluacion, solo fue necesario cambiar el formato para mejorar la integridad de los datos adquiridos.

## Columna #5 gender

In [219]:
data['gender'].value_counts()

gender
Female    500
Male      497
M           1
Fema        1
Name: count, dtype: int64

La columna genero contiene errores estructurales simples(Recomendar al equipo desarrollador de fresh market evaluar los formularios de registro y agregar restricciones para asegurar la integridad en el futuro)

In [220]:
data.loc[(data['gender'] == "M") | (data['gender'] == "Fema")]

,invoice_id,branch,city,customer_type,gender,product_line,unit_price,quantity,tax_5%,total,date,time,payment,cogs,gross_margin_percentage,gross_income,rating
11,529-56-3974,B,Mandalay,Member,M,Electronic accessories,26.0,4,5.102,107.142,3/9/2019,5:03:00 PM,Cash xl3,102.04,4.761905,5.102,6.8
52,616-24-2851,B,Mandalay,Member,Fema,Fashion accessories,18.0,4,3.574,75.054,3/22/2019,2:42:00 PM,Ewallet,71.48,4.761905,3.574,6.5

In [221]:
# Reemplazamos los valores por los adecuados y cambiamos formato de coulmanas a categoricos

data.replace({"M": "Male", "Fema":"Female"}, inplace=True)

In [222]:
# Confirmamos que se realizaron los cambios, llamando los datos atipicos.

data.loc[(data['gender'] == "M") | (data['gender'] == "Fema")]

Empty DataFrame
Columns: [invoice_id, branch, city, customer_type, gender, product_line, unit_price, quantity, tax_5%, total, date, time, payment, cogs, gross_margin_percentage, gross_income, rating]
Index: []

In [223]:
data['gender'] = data['gender'].astype("category")

In [224]:
data.dtypes

invoice_id                 string[python]
branch                           category
city                       string[python]
customer_type              string[python]
gender                           category
product_line                       object
unit_price                        float64
quantity                            int64
tax_5%                            float64
total                             float64
date                               object
time                               object
payment                            object
cogs                              float64
gross_margin_percentage           float64
gross_income                      float64
rating                            float64
dtype: object

## Columna #6 product_line, unit_price, quantity

In [225]:
data[['product_line', 'unit_price','quantity']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, 0 to 999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_line  999 non-null    object
 1   unit_price    992 non-null    float64
 2   quantity      999 non-null    int64
dtypes: float64(1), int64(1), object(1)
memory usage: 31.2+ KB

In [226]:
# Identificamos que algunos productos no tienen precio
data[['product_line', 'unit_price','quantity']].loc[data['unit_price'].isnull()]

           product_line  unit_price  quantity
679  Food and beverages         NaN         6
689  Food and beverages         NaN         3
691  Food and beverages         NaN         7
694  Food and beverages         NaN         9
701  Food and beverages         NaN         3
707  Food and beverages         NaN         1
710  Food and beverages         NaN         6

In [227]:
# Imputaremos la media de precios en la categoria Food and beverages para los 7 productos que no lo tienen

data['unit_price'].fillna(round(np.mean(data['product_line'] =="Food and beverages"), 2), inplace=True)

In [228]:
#Confirmamos que no tenemos valores vacios en la columna unit_price
data[['product_line', 'unit_price','quantity']].loc[data['unit_price'].isnull()]

Empty DataFrame
Columns: [product_line, unit_price, quantity]
Index: []

In [229]:
# Agregamos formato de string a la columna product line.

data['product_line']= data['product_line'].astype("string")

In [230]:
data[['product_line', 'unit_price','quantity']].dtypes

product_line    string[python]
unit_price             float64
quantity                 int64
dtype: object

In [231]:
data.columns

Index(['invoice_id', 'branch', 'city', 'customer_type', 'gender',
       'product_line', 'unit_price', 'quantity', 'tax_5%', 'total', 'date',
       'time', 'payment', 'cogs', 'gross_margin_percentage', 'gross_income',
       'rating'],
      dtype='object')

## Columns #7 tax_5%

In [232]:
data['tax_5%'].info()

<class 'pandas.core.series.Series'>
Index: 999 entries, 0 to 999
Series name: tax_5%
Non-Null Count  Dtype
--------------  -----
999 non-null    float64
dtypes: float64(1)
memory usage: 15.6 KB

In [233]:
#Cambiamos el numero de decimales limitados a dos
data['tax_5%']  =data['tax_5%'].round(2)

In [234]:
data['tax_5%']

0      26.14
1       3.82
2      16.22
3      23.29
4      30.21
       ...
995     2.02
996    48.69
997     1.59
998     3.29
999    30.92
Name: tax_5%, Length: 999, dtype: float64

La columna tax income posee valores dentro de rangos normales y formato correcto, no se encontraron erroes estructurales o de logica.

## Column #8 total

In [235]:
data['total'].info()

<class 'pandas.core.series.Series'>
Index: 999 entries, 0 to 999
Series name: total
Non-Null Count  Dtype
--------------  -----
999 non-null    float64
dtypes: float64(1)
memory usage: 15.6 KB

In [236]:
#Valores de esta columna en condiciones optimas y sin errores.

data['total'].describe()

count     999.000000
mean      322.999318
std       246.006335
min        10.678500
25%       123.789750
50%       253.680000
75%       471.670500
max      1042.650000
Name: total, dtype: float64

In [237]:
# Normalizamos la cantidad de decimales a dos espacios.

data['total'] = data['total'].round(2)

In [238]:
data['total'].head(4)

0    548.97
1     80.22
2    340.53
3    489.05
Name: total, dtype: float64

## Columns #9 date y time

In [239]:
data[['date','time']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    999 non-null    object
 1   time    999 non-null    object
dtypes: object(2)
memory usage: 23.4+ KB

In [240]:
# Cambiamos al formato fecha la columna date:

data['date'] = pd.to_datetime(data['date'])

In [241]:
data.dtypes

invoice_id                 string[python]
branch                           category
city                       string[python]
customer_type              string[python]
gender                           category
product_line               string[python]
unit_price                        float64
quantity                            int64
tax_5%                            float64
total                             float64
date                       datetime64[ns]
time                               object
payment                            object
cogs                              float64
gross_margin_percentage           float64
gross_income                      float64
rating                            float64
dtype: object

## Column #10 Payment

In [242]:
data['payment'].info()

<class 'pandas.core.series.Series'>
Index: 999 entries, 0 to 999
Series name: payment
Non-Null Count  Dtype
--------------  -----
999 non-null    object
dtypes: object(1)
memory usage: 15.6+ KB

In [243]:
data['payment'].value_counts()

payment
Cash            328
Credit card     310
Ewallet 00.%    218
Ewallet         127
Cash xl3         16
Name: count, dtype: int64

Existen varios problemas estructurales en las categorias de la columna payment, los eliminamos.

In [244]:
data['payment'] = data['payment'].replace("Ewallet 00.%","Ewallet")

In [245]:
data['payment'] = data['payment'].replace("Cash xl3","Cash")

In [246]:
data['payment'].value_counts(normalize=True)

payment
Ewallet        0.345345
Cash           0.344344
Credit card    0.310310
Name: proportion, dtype: float64

## Columns #11

In [247]:
data[['cogs', 'gross_margin_percentage', 'gross_income',
       'rating']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 999 entries, 0 to 999
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cogs                     999 non-null    float64
 1   gross_margin_percentage  999 non-null    float64
 2   gross_income             999 non-null    float64
 3   rating                   999 non-null    float64
dtypes: float64(4)
memory usage: 39.0 KB

In [248]:
data[['cogs', 'gross_margin_percentage', 'gross_income',
       'rating']].describe()

             cogs  gross_margin_percentage  gross_income      rating
count  999.000000             9.990000e+02    999.000000  999.000000
mean   307.618398             4.761905e+00     15.380920    6.970771
std    234.291748             8.886233e-16     11.714587    1.718357
min     10.170000             4.761905e+00      0.508500    4.000000
25%    117.895000             4.761905e+00      5.894750    5.500000
50%    241.600000             4.761905e+00     12.080000    7.000000
75%    449.210000             4.761905e+00     22.460500    8.500000
max    993.000000             4.761905e+00     49.650000   10.000000

Valores en esta columans precentan margenes adecuados y sin anormalidad.
Solo cambiaremos la cantidad de decimales y la normalizamos a dos ya que estas son columnas de montos monetarios.

In [249]:
data[['cogs', 'gross_margin_percentage', 'gross_income','rating']] = data[['cogs', 'gross_margin_percentage', 'gross_income', 'rating']].round(2)

In [250]:
data[['cogs', 'gross_margin_percentage', 'gross_income',
       'rating']]

       cogs  gross_margin_percentage  gross_income  rating
0    522.83                     4.76         26.14     9.1
1     76.40                     4.76          3.82     9.6
2    324.31                     4.76         16.22     7.4
3    465.76                     4.76         23.29     8.4
4    604.17                     4.76         30.21     5.3
..      ...                      ...           ...     ...
995   40.35                     4.76          2.02     6.2
996  973.80                     4.76         48.69     4.4
997   31.84                     4.76          1.59     7.7
998   65.82                     4.76          3.29     4.1
999  618.38                     4.76         30.92     6.6

[999 rows x 4 columns]

# Guardar archivos:
Las siguientes lineas guardan nuestros datos en dos formatos elementales para consecuentes analisis.

In [251]:
# data.to_pickle("C:/Users/Jahir/DataspellProjects/FreshMarket-project/datos/fresh_market-limpio.pkl")
# data.to_excel("C:/Users/Jahir/DataspellProjects/FreshMarket-project/datos/fresk_market-_limpio.xlsx")